section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  transition: ease-in-out 0.8s;
  z-index: 2;
  top: 100px;
  bottom: auto;
  opacity: 0;
  padding-bottom: 45px;

  &.show {
    opacity: 1;
  }
  .container {
    background: rgba(0, 0, 0, 0.92);
    padding: 30px;
  }
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}
