.about-me {
  .content {
    h3 {
      font-weight: 700;
      font-size: 26px;
      color: var(--qn-primary-color);
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }
      strong {
        margin-right: 10px;
      }
      svg {
        font-size: 16px;
        margin-right: 5px;
        color: var(--qn-primary-color);
        line-height: 0;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .skills {
      .skill-badge {
        margin: 1rem;
        font-size: 100px;
      }
    
  }
}
